<%=provide(:title, '上传作品')%>
<% content_for :style do %>

<%end%>
<% content_for :style do %>
 <%= stylesheet_link_tag    "uploadify/uploadify" %>
<%end%>

<% content_for :scripts do %>
	<%= javascript_include_tag "uploadify/jquery.uploadify.min" %>
	<script type="text/javascript">


	</script>
<%end%>
<% content_for :jquery do %>
<% session_key = Rails.application.config.session_options[:key] %>
  // Create an empty object to store our custom script data
  var uploadify_script_data = {};

  // Fetch the CSRF meta tag data
  var csrf_token = $('meta[name=csrf-token]').attr('content');
  var csrf_param = $('meta[name=csrf-param]').attr('content');

  // Now associate the data in the config, encoding the data safely
  uploadify_script_data[csrf_token] = encodeURI(csrf_param);

  // Associate the session information
  uploadify_script_data['<%= session_key %>'] = '<%= cookies[session_key] %>';

  uploadify_script_data['authenticity_token'] = '<%= form_authenticity_token %>';


    $('#uploadify').uploadify({
        'swf'      : '/uploadify/uploadify.swf',
        'uploader' : '/upload/art_upload',
        'buttonText' : '上传作品',
        'formData' : uploadify_script_data,
        'onUploadSuccess' : function(file, data, response) {
          data = new Function("return" + data)();//转换后的JSON对象
          if(data.error==0)
          {
            alert('ok');
          }else if(data.error==1)
          {
            alert(data.message);
          }
        }
    });
<%end%>
<div class="main">
    <div class="span10">
      <!--Body content-->
<input type="file" name="file_upload" id="uploadify" />
<h1>New art</h1>
<%= form_for(@post, url: {action: :create_art}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>


      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :type, value: 2 %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.number_field :state %>
  </div>
  <div class="actions">
    <%= f.submit '创建'%>
  </div>
<% end %>

<%= link_to '返回', root_path %>

    </div>
</div>


