<% provide(:title, '修改密码') %>
<div class="main">
	<!--二级导航-->
	<div class="row-fluid">
		<%=render 'left_navigation'%>


		<div class="row">
		  <div class="span6 offset3">
			<%= form_for(@user, url: user_update_pwd_path, :html=>{:method=> :put}) do |f| %>
			  <%= render 'shared/error_messages' %>
			  <label for="current_password"> 旧密码:</label>
			  <%= password_field_tag :current_password, '' %>
			  <%= f.label :password, "新密码" %>
			  <%= f.password_field :password %>

			  <%= f.label :password_confirmation, "确认密码" %>
			  <%= f.password_field :password_confirmation %>

			  <%= f.submit "保存", class: "btn btn-large btn-primary" %>
			<% end %>

		  </div>
		</div>
	</div><!--/row-->
</div>



