<%provide(:title, '学生工作')%>
  <!--主体 start{-->
  <div class="main">
      <!--内容 start{-->
      <div class="wid" style="min-height: 300px;">
          <!--当前位置 start{-->
          <%= render partial: 'path', locals: { post: nil, cate: @category, mark: params[:mark] } %>
          <!--}当前位置 end-->
          <!--主体内容 start{-->
          <%#=render 'left_bar', categories: @categories %>

            <!--学院丛书 start{-->
            <div class="books">
                <div class="more"><a href=""></a></div>
                <% if @posts.present? %>
                  <ul class="ul_news">
                    <%@posts.each do |b|%>
						<li>
							<h3><%= link_to truncate(b.title, length: 35), b.view_url %></h3>
							<em><%= b.created_at.strftime("%Y.%m.%d") %></em>
							<p>
								<% if b.cover.present? %>
									<%= link_to asset_m_tag(b.cover, width: 80), b.view_url, class: 'fl' %>
									<span><%= raw truncate(strip_tags(b.content), length: 100) %></span>
								<%else%>
									<%= raw truncate(strip_tags(b.content), length: 80) %>
								<%end%>
							</p>
						</li>
						<span class="blank10"></span>
                    <%end%>
                  </ul>
                <%end%>
              </div>
              <!--分页 start{-->
            <div class="page">
              <%=will_paginate @posts if @posts.present?%>
            </div>
            <!--}分页 end-->
            <!--}学院丛书 end-->
          <!--}主体内容 end-->
      </div>
      <!--}内容 end-->
  </div>
  <!--}主体 end-->

