<%type ||= 1%>
<div class="share_category field">
  <label name="post[category_id]">分类:</label>
  <input type="hidden" class="category_tag" name="post[category_id]" value="<%=current_category_id || ''%>" />
  <% Category.category_arr(type).each do |category| %>
    <%if category.present?%>
      <% if current_category_id.present? and current_category_id.to_s == category.id.to_s %>
        <a class="ajax-hash current" href="#add_and_drop_category" cate_id="<%=category.id%>"><%=category.name%></a>
      <%else%>
        <a class="ajax-hash " href="#add_and_drop_category" name="category_btn_<%=category.id%>" cate_id="<%=category.id%>"><%=category.name%></a>
      <%end%>
    <%end%>
  <%end%>
</div>

