<%provide(:title, '首页')%>

	<!--主体 start{-->
	<div class="main">
        <!--flash start{-->
        <div class="flash_diy">
        	<ul class="ul_flash">
			  <!--980*320-->
			  <% slide = load_block_order('index_banner_slide',8) %>
				<% slide.each do |s| %>
				  <% if s.asset.present? %>
					<% if s.url.present? %>
					  <li><%=link_to asset_o_tag(s.asset, alt: s.title, width: 980, height: 320), s.url, title: s.title, target: "_blank" %></li>
					<%else%>
					  <li><%=link_to asset_o_tag(s.asset, alt: s.title, width: 980, height: 320), 'javascript:void(0);', title: s.title %></li>
					<%end%>
				  <%end%>
				<%end%>
            </ul>
        </div>
        <!--}flash end-->
        <!--内容 start{-->
        <div class="wid">
            <!--学院新闻 start{-->
            <div class="news">
            	<h2 class="title">学院新闻</h2>
                <div class="more"><%= link_to '更多',posts_path %></div>
                <ul class="ul_news">
				<% if @posts.present? %>
					<% @posts.each do |post| %>
                	<li>
                    	<h3><%= link_to truncate(post.title, length: 35), post.view_url, target: "_blank" %></h3>
                        <em><%= post.created_at.strftime("%Y.%m.%d") %></em>
                        <p>
							<% if post.cover.present? %>
								<%= link_to asset_m_tag(post.cover, width: 80), post.view_url, class: 'fl', target: '_blank' %>
								<span><%= raw truncate(strip_tags(post.content), length: 100) %></span>
							<%else%>
								<%= raw truncate(strip_tags(post.content), length: 80) %>
							<%end%>
						</p>
                    </li>
					<%end%>
				<%end%>

                </ul>
            </div>
            <!--}学院新闻 end-->
            <!--最新活动 start{-->
            <div class="play">
            	<h2 class="title">精彩回顾</h2>
                <ul class="ul_play">
				  <!--300*125-->
				  <% slide = load_block_order('index_recent_active',8) %>
					<% slide.each do |s| %>
					  <% if s.asset.present? %>
						<% if s.url.present? %>
						  <li><h3><%=link_to asset_o_tag(s.asset, alt: s.title, width: 980, height: 320)+truncate(s.title, length: 20), s.url, title: s.title, target: "_blank" %></h3></li>
						<%else%>
						  <li><h3><%=link_to asset_o_tag(s.asset, alt: s.title, width: 980, height: 320)+truncate(s.title, length: 20), 'javascript:void(0);', title: s.title %></h3></li>
						<%end%>
					  <%end%>
					<%end%>
                </ul>
            </div>
            <!--}最新活动 end-->
            <!--学院丛书 start{-->
            <div class="books">
            	<h2 class="title">中国民族美术</h2>
                <div class="more"><%= link_to '更多', books_path %></div>
                <% if @books.present? %>
                  <ul class="ul_books">
                    <% @books.each do |b| %>
                      <% if b.cover.present? %>
                        <li>
                            <em><%= link_to asset_o_tag(b.cover), b.view_url, target: '_blank' %></em>
                            <h3><%= link_to b.title, b.view_url, target: '_blank' %></h3>
                            <p><%= truncate(strip_tags(b.content), length: 55) %></p>
                            <div class="readmore"><%= link_to 'Read More', b.view_url, target: '_blank' %></div>
                        </li>
                      <%end%>
                    <%end%>
                  </ul>
                <%end%>
            </div>
            <!--}学院丛书 end-->
            <!--学院新作 start{-->
            <div class="works">
            	<h2 class="title">学院新作</h2>
                <div class="more"><%= link_to '更多', { controller: :teaches, action: :show, mark: 'student_art' } %></div>
                <% if @arts.present? %>
                  <ul class="ul_works">
                    <% @arts.each do |d| %>
                      <% if d.asset.present? %>
                        <li><h3><%= link_to "#{asset_m_tag(d.asset)}#{truncate(d.title, length: 10)}&nbsp; #{d.user.name if d.user.present?}".html_safe, d.view_url, target: '_blank' %></h3></li>
                      <%end%>
                    <%end%>
                  </ul>
                <%end%>
            </div>
            <!--}学院新作 end-->
        </div>
        <!--}内容 end-->
    </div>
	<!--}主体 end-->
