<tr id="user_<%=b.id%>" class="user_unaudited">
    <td><label><span class="btn-medium">选中</span><%=check_box_tag "content[ids][]",:value=>b.id %></label></td>
    <td><%=b.id%></td>
	<td><%= b.name %></td>
  
    <td><%=b.mark%></td>
	<td><%=b.type_str%></td>
	<td><%=b.order%></td>
	<td><%=b.state==1 ? ' 正常' : '关闭' %></td>
  <td>
    <% if b.present? %>
      <%=link_to "通过审核" , '#',:remote=>true,:method=>:post %> |
      <% if b.present? %>
        <%=link_to "禁用",'#',:confirm=>"确认执行此操作?",:remote=>true,:method=>:post%>
      <%else%>
        已禁用
      <%end%>
    <%else%>
      <%=link_to "删除",'#',:confirm=>"确认执行此操作?",:remote=>true,:method=>:post%>
    <%end%>

  </td>
</tr>
