<%=provide(:title, '后台首页')%>
<div class="main">
	<%=render "admin/base/left_bar"%>
    <div class="span10">
      <!--Body content-->
	  <div class="page-header">
		<h2>新闻数量：</h2>
		<%=Post.news.count%>
	  </div>

	  <div class="page-header">
		<h2>作品数量：</h2>
		<%=Post.arts.count%>
	  </div>

	  <div class="page-header">
		<h2>用户数量：</h2>
		<%=User.all.count%>
	  </div>

    </div>
  </div>
</div>
