
	<!--头部 start{-->
	<div class="header">
    	<div class="hm">
          <div class="logo"><%= link_to(image_tag('logo.png')+"中央民族大学美术学院", domain_base ) %></a></div>
            <form action="" method="get" class="search">
                <fieldset>
                    <legend>搜索表单</legend>
                    <div class="ipt"><input name="" type="text" value="关键字" /></div>
                    <div class="btn"><input name="" type="button" value="搜索" /></div>
                </fieldset>
            </form>
            </div>
    </div>
	<!--}头部 end-->
	<!--导航 start{-->
	<div class="nav_diy_box">
	<ul class="nav_diy">
      <li class="<%= css_on?(@css_index_header) %>"><%= link_to '首页', root_path %></li>
      <li class="<%= css_on?(@css_introduce_header) %>"><%= link_to '学院概况', introduces_path %></li>
      <li class="<%= css_on?(@css_post_header) %>"><%= link_to '学院新闻', posts_path %></li>
      <li class="<%= css_on?(@css_teach_header) %>"><%= link_to '艺术教学', teaches_path %></li>
      <li class="<%= css_on?(@css_book_header) %>"><%= link_to '学院丛书', '#' %></li>
      <li class="<%= css_on?(@css_ciosing_header) %>"><%= link_to '招生详情', '#' %></li>
      <li class="<%= css_on?(@css_student_header) %>"><%= link_to '学生工作', '#' %></li>
    </ul>

        <ul class="nav pull-right" style="margin:-35px 10px 0 0;">

          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%#=raw user_avatar_tag(current_user,'s',{width: 30, height: 30})%><%=current_user.name%> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "个人设置", user_edit_info_path %></li>
                <%if admin_system?%>
                  <li><%= link_to "系统管理", admin_home_index_path %></li>
                <%end%>
                <li class="divider"></li>
                <li>
                  <%= link_to "注销", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
			<!--
            <li><%= link_to "注册", signup_path %></li>
            <li><%= link_to "登录", signin_path %></li>
			-->
          <% end %>
        </ul>

	</div>
	<!--}导航 end-->

