<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=page_title(yield(:title))%></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :style %>
  <!--压缩后已引用进来-->
  <!--[if IE 6]>
    <%= javascript_include_tag "ie6png" %>
    <script>
        DD_belatedPNG.fix('img,a,form,div');
    </script>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
  <body>

  <section id="doc">
    <%= render 'layouts/header' %>

    <div id="bd">

      <%= yield :sub_navigation%>

	  <div class="container">
	  <div class="main">
      <!--消息提醒-->
      <%= render partial: 'shared/flash',locals: { flash: flash }%>
	  </div>
        <%= yield %>
	  </div>

    </div>

    <%= render 'layouts/footer' %>
  </section>



      <%#= debug(params) if Rails.env.development? %>





    </div>
	<!--返回顶部-->
	<a href="javascript:void(0);" class="gotop_btn hidden" id="goTopButton">&nbsp;</a>
  </body>
</html>

  <%= yield :scripts %>
  <script type="text/javascript">
    <!--
    $(function(){
      //初始化
      muc.initial();
	  <%=yield :jquery %>
	  //返回顶部
	  muc.go_top();
  });
  //-->
  </script>
