<!DOCTYPE html>
<html>
<head>
  <title><%=page_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery-ui-1.7.2.min" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
  <body>
    <%= render 'layouts/header' %>
    <img src="<%=Mongoid::GridFs.get(1).data_uri%>" />
    <%#=image_tag :src=>Mongoid::GridFs.get(1).data_uri%>
    <%= image_tag Mongoid::GridFs.get(1).data_uri %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>

