<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=page_title(yield(:title))%></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "compress/base" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "admin/admin_base" %>
  <%= csrf_meta_tags %>
  <%= yield :style %>

  <!--[if IE 6]>
    <%= javascript_include_tag "ie6png" %>
    <script>
        DD_belatedPNG.fix('img,a,form,div');
    </script>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
  <body>

  <section id="doc">
    <%= render 'layouts/header' %>

    <div id="bd">
      <!--消息提醒-->
      <%= render partial: 'shared/flash',locals: { flash: flash }%>

      <%= yield :sub_navigation%>

	  <div class="container">
        <%= yield %>
	  </div>

    </div>

    <%= render 'layouts/footer' %>
  </section>



      <%#= debug(params) if Rails.env.development? %>





    </div>
  </body>
</html>

  <%= yield :scripts %>

  <script type="text/javascript">
    <!--
    $(function(){
  
      //lgk.initial();//在lgk.js中

  
      <%=yield :jquery %>
   
  });
  //-->
  </script>
