<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=page_title(yield(:title))%></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "compress/base" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :style %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
  <body>

  <section id="doc">
    <%= render 'layouts/header' %>

    <div id="bd" class="">
      <!--消息提醒-->
      <%= render partial: 'shared/flash',locals: { flash: flash }%>

      <%= yield :sub_navigation%>

	  <div class="container">
        <%= yield %>
	  </div>

    </div>

    <%= render 'layouts/footer' %>
  </section>



      <%#= debug(params) if Rails.env.development? %>


		<%= yield :scripts %>

		<script type="text/javascript">
		  <!--
		  $(function(){
		
			//lgk.initial();//在lgk.js中

		
			<%=yield :jquery %>
		 
		});
		//-->
		</script>


    </div>
  </body>
</html>

